node_modules/

out/
dist/
release/

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

*.log
npm-debug.log*
pnpm-debug.log*

coverage/

.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

*.p12
*.pfx
*.cer
*.key
*.pem
*.mobileprovision